body {
  background-image: url(image/shop.png);
  background-size: cover;
}


.orderContainer{
    margin-left: 225px;
    margin-top:280px;
    height: 70px;
    width: 130px;
    display: absolute;
}
 
#deliContainer{
    margin-left: 230px;
    margin-top:33px;
    border: 2px solid grey;
    height: 100px;
    width: 100px;
    display: absolute; 
    background-color: white;
    border-radius: 50%;
}


#deliImage{
padding-left:8px;
}


#chef {
top:400px;
left:430px;
position: relative;

height: 100px;
width: 50px;
}

.rightPose{
    background-image: url(image/right.png);
}
.rightDishPose{
    background-image: url(image/rightdish.png);
    max-width: 500px;
    height: 100px;
}

.upPose{
background-image: url(image/back.png) !important;

height: 80px;
width: 50px; 
}

.leftDishPose{
    background-image: url(image/left.png) !important;
    height: 80px;
    width: 50px; 
} 

.leftPose{
    background-image: url(image/leftfree.png) !important;

}

.downDishPose{
    background-image: url(image/front.png) !important;

}

.downPose{
    background-image: url(image/down.png) !important;

}

.lookPose{
    background-image:url(image/look.png) !important;
}
.otherPose{
    background-image: url(image/image1/Screen\ Shot\ 2019-03-05\ at\ 3.06.51\ PM.png) !important;

}

.dishContainer{
    display: flex;
    flex-wrap: wrap;
    left:400px;
    top:140px;
    height:0px;
    width:700px;
    position: absolute;
   
}

.dish{ 
    margin: 5px;
    text-align:center;
}



.bell{
    margin-left:370px;
    margin-top: 28px;
}
